---

---

<header class="sticky top-0 z-40 bg-transparent transition-all duration-300">
  <div class="mx-auto flex h-16 max-w-7xl items-center justify-between">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 140 54" class="h-10 w-auto fill-primary-500 text-secondary-900">
      <path
        d="M0 21.742c0-.981.853-1.876 2.257-2.555.269-4.961 2.1-9.658 5.172-13.193C10.763 2.156 15.285 0 20 0s9.237 2.156 12.57 5.994c3.073 3.535 4.904 8.232 5.173 13.193 1.404.679 2.257 1.574 2.257 2.555 0 1.636-2.373 3.033-5.714 3.585v8.778c0 .785.64 1.421 1.428 1.421.79 0 1.429-.636 1.429-1.42v-2.843c0-.785.64-1.42 1.428-1.42.79 0 1.429.635 1.429 1.42v2.842c0 2.355-1.919 4.263-4.286 4.263-2.367 0-4.285-1.908-4.285-4.263v-8.528l-.318.002c-1.426 0-2.774-.145-3.968-.403v24.56c0 .786.64 1.422 1.428 1.422.79 0 1.429-.636 1.429-1.421v-2.842c0-.785.64-1.421 1.429-1.421s1.428.636 1.428 1.42v2.843c0 2.354-1.919 4.263-4.286 4.263-2.367 0-4.285-1.909-4.285-4.263V25.104c-1.271.303-2.732.475-4.286.475v12.79c0 2.354-1.919 4.263-4.286 4.263-2.367 0-4.285-1.91-4.285-4.264v-2.842c0-.785.64-1.42 1.428-1.42.79 0 1.429.636 1.429 1.42v2.842c0 .785.64 1.421 1.428 1.421.79 0 1.429-.636 1.429-1.42V25.375a14.92 14.92 0 0 1-2.699-.639c-1.521.527-3.453.842-5.555.842-.106 0-.212 0-.318-.003v18.477c0 2.354-1.918 4.263-4.285 4.263S0 46.407 0 44.053V41.21c0-.785.64-1.422 1.429-1.422s1.428.637 1.428 1.422v2.842c0 .785.64 1.42 1.429 1.42s1.428-.636 1.428-1.42V25.327C2.373 24.775 0 23.378 0 21.742Z"
      ></path>
      <path
        d="M2.857 36.947c0 .785-.64 1.421-1.428 1.421A1.425 1.425 0 0 1 0 36.948c0-.785.64-1.422 1.429-1.422s1.428.636 1.428 1.421ZM12.857 32.684c.79 0 1.429-.636 1.429-1.42 0-.786-.64-1.422-1.429-1.422s-1.428.636-1.428 1.421.64 1.421 1.428 1.421ZM31.429 44.053A1.425 1.425 0 0 1 30 42.632c0-.785.64-1.421 1.429-1.421s1.428.636 1.428 1.42c0 .785-.64 1.422-1.428 1.422ZM38.571 28.421A1.425 1.425 0 0 1 37.143 27c0-.785.64-1.421 1.428-1.421.79 0 1.429.636 1.429 1.421s-.64 1.421-1.429 1.421Z"
      ></path>
      <path
        fill="currentColor"
        d="M61.415 20.182h6.05V43.08c0 1.685-.33 3.049-.993 4.09-.663 1.042-1.615 1.804-2.855 2.287-1.232.483-2.704.725-4.418.725-.209 0-.407-.005-.597-.014-.199 0-.407-.005-.625-.015v-4.73c.161.01.303.014.426.014.114.01.237.015.37.015.975 0 1.657-.209 2.045-.625.398-.407.597-1.023.597-1.847V20.182Zm3.011-2.813a3.27 3.27 0 0 1-2.301-.895c-.644-.606-.966-1.33-.966-2.173 0-.833.322-1.548.966-2.145a3.242 3.242 0 0 1 2.301-.909c.91 0 1.681.303 2.316.91.643.596.965 1.31.965 2.144 0 .843-.322 1.567-.965 2.173-.635.597-1.407.895-2.316.895Zm17.83 25.057c-2.244 0-4.176-.454-5.795-1.364-1.61-.918-2.85-2.215-3.722-3.892-.87-1.685-1.306-3.678-1.306-5.98 0-2.244.435-4.214 1.306-5.909.872-1.695 2.098-3.016 3.68-3.963 1.59-.947 3.456-1.42 5.596-1.42 1.44 0 2.78.232 4.02.696a8.916 8.916 0 0 1 3.267 2.06c.937.918 1.666 2.073 2.187 3.465.521 1.383.782 3.002.782 4.858v1.662H73.847v-3.75h12.728c0-.871-.19-1.643-.569-2.315a4.07 4.07 0 0 0-1.576-1.577c-.663-.388-1.435-.582-2.316-.582-.918 0-1.733.213-2.443.639-.7.417-1.25.98-1.648 1.69-.397.701-.6 1.482-.61 2.344v3.565c0 1.08.199 2.013.596 2.799.407.786.98 1.392 1.719 1.818.739.426 1.615.64 2.628.64.672 0 1.288-.096 1.846-.285a3.833 3.833 0 0 0 1.435-.852c.398-.38.7-.843.91-1.392l5.596.369a7.642 7.642 0 0 1-1.747 3.523c-.872.994-1.999 1.77-3.381 2.33-1.373.548-2.96.823-4.759.823Zm20.015-29.517V42h-6.052V12.91h6.052Zm10.898 0V42h-6.051V12.91h6.051Zm8.583 37.273c-.767 0-1.487-.062-2.159-.185-.663-.114-1.212-.26-1.648-.44l1.364-4.517c.71.218 1.349.336 1.918.355.577.019 1.074-.114 1.491-.398.426-.284.772-.767 1.037-1.449l.355-.923-7.827-22.443h6.364l4.517 16.023h.227l4.56-16.023h6.406l-8.48 24.176c-.407 1.174-.961 2.197-1.662 3.068a6.807 6.807 0 0 1-2.628 2.031c-1.06.483-2.339.725-3.835.725Z"
      ></path>
    </svg>

    <div></div>
  </div>
</header>
